<div class="borde">
<div class="row g-0">
    <h1 class="title">Educacion</h1>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1 class="trabajo">Educacion1</h1> - <h3 class="years">(years)</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam atque adipisci voluptatum sequi exercitationem sapiente. Impedit quidem optio suscipit voluptate fugit itaque consequuntur ad quis eos. Ea incidunt dolorem eligendi.</p>
        </ul>
        <ul>
            <li>
                <h1 class="trabajo ">Educacion2</h1> - <h3 class="years">(years)</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam atque adipisci voluptatum sequi exercitationem sapiente. Impedit quidem optio suscipit voluptate fugit itaque consequuntur ad quis eos. Ea incidunt dolorem eligendi.</p>
        </ul>
        <ul>
            <li>
                <h1 class="trabajo">Educacion3</h1> - <h3 class="years">(years)</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam atque adipisci voluptatum sequi exercitationem sapiente. Impedit quidem optio suscipit voluptate fugit itaque consequuntur ad quis eos. Ea incidunt dolorem eligendi.</p>
        </ul>
    </div>
</div>
</div>