<div class="borde">
<div class="row g-0">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/fotoperfil.jpg" alt="" class="img-fluid" id="fotoperfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">Luana Cuello</p>
        <p>Full Stack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1 class="title">Acerca de mi</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat ratione consectetur assumenda officia earum, harum in? Voluptatibus odio asperiores, impedit deleniti atque mollitia quidem voluptates, veniam amet officia nesciunt architecto?</p>
        </span>
    </div>
</div>
</div>