<div class="borde">
<div class="row g-0">
    <h1 class="title">Hard & Soft Skills</h1>
    <div class="col-sm-4 col-md-4 col-lg-4">
    <circle-progress
        [percent]="65"
        [radius]="100"
        [title]="'HTML'"
        [titleColor]="'#F4D9E7'"
        [titleFontSize]="'30px'"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#810CA8'"
        [innerStrokeColor]="'#C780FA'"
        [animation]="true"
        [animationDuration]="900"
        [showSubtitle]="false"
        [showUnits]="false"
    ></circle-progress>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="65"
            [radius]="100"
            [title]="'HTML'"
            [titleColor]="'#F4D9E7'"
            [titleFontSize]="'30px'"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#810CA8'"
            [innerStrokeColor]="'#C780FA'"
            [animation]="true"
            [animationDuration]="900"
            [showSubtitle]="false"
            [showUnits]="false"
        ></circle-progress>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="65"
            [radius]="100"
            [title]="'HTML'"
            [titleColor]="'#F4D9E7'"
            [titleFontSize]="'30px'"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#810CA8'"
            [innerStrokeColor]="'#C780FA'"
            [animation]="true"
            [animationDuration]="900"
            [showSubtitle]="false"
            [showUnits]="false"
        ></circle-progress>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="65"
            [radius]="100"
            [title]="'HTML'"
            [titleColor]="'#F4D9E7'"
            [titleFontSize]="'30px'"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#810CA8'"
            [innerStrokeColor]="'#C780FA'"
            [animation]="true"
            [animationDuration]="900"
            [showSubtitle]="false"
            [showUnits]="false"
        ></circle-progress>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="65"
            [radius]="100"
            [title]="'HTML'"
            [titleColor]="'#F4D9E7'"
            [titleFontSize]="'30px'"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#810CA8'"
            [innerStrokeColor]="'#C780FA'"
            [animation]="true"
            [animationDuration]="900"
            [showSubtitle]="false"
            [showUnits]="false"
        ></circle-progress>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="65"
            [radius]="100"
            [title]="'HTML'"
            [titleColor]="'#F4D9E7'"
            [titleFontSize]="'30px'"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#810CA8'"
            [innerStrokeColor]="'#C780FA'"
            [animation]="true"
            [animationDuration]="900"
            [showSubtitle]="false"
            [showUnits]="false"
        ></circle-progress>
    </div>
</div>
</div>
